.tabs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px; 
  overflow-y: auto;
  flex: 1;
}
.tabWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background-color: #2a2a40;
}

.tab {
  flex: 1;
  background: transparent;
  border: none;
  padding: 12px;
  color: #94a3b8;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab.active {
  color: #4ade80;
  background: rgba(74, 222, 128, 0.1);
}

.closeBtn {
  background: transparent;
  color: #64748b;
  border: none;
  padding: 0 12px;
  cursor: pointer;
  font-size: 18px;
}

.closeBtn:hover {
  color: #ef4444;
}

.newTab {
  margin: 10px 20px 20px;
  background: #4ade80;
  padding: 12px;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  color: #0f172a;
}



.newChatCreation {
  width: 100%; /* Занимает всю доступную ширину родителя */
  box-sizing: border-box; /* Учитываем padding в ширине */
  padding: 12px;
  background: #2a2a40;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #38415d;
}


.newChatCreation :global(.wrapper) {
  width: 100%;
  padding: 0;
  background: transparent;
}

.createBtn {
  background-color: #4ade80;
  color: #0f172a;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.cancelBtn {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.createBtn:hover { background-color: #22c55e; }
.cancelBtn:hover { background-color: #dc2626; }